{% extends 'base.html.twig' %}

{% block title %}Edit Panic{% endblock %}

{% block body %}
    <h1>Edit Panic</h1>
    {{ include('panic/_form.html.twig', {'button_label': 'Update'}) }}
    <a href="{{ path('panic_index') }}" class="btn btn-dark">back to list</a>

    {{ include('panic/_delete_form.html.twig') }}
{% endblock %}
